
<main class="main-wrapper">

<section>
<header class="main-page-header">
  <div class="logo-container">
    <img class="logo" src="./views/img/instagram.png" alt="Check box image">
  </div>
  <div class="menu">
      <a class="item" ui-sref="home">Home</a>
      <a class="item" ui-sref="about">About</a>
  </div>
  <div class="time-container">
    TIME
    <!-- <img class="time" alt="countdown"> -->
  </div>
</header>
</section>

<div class="box">
<section class="todo-main-container">
<div class="progress-box" id="newList">
  <h3>New To Dos</h3>
</div>


<div class="progress-box">
  <h3>In Progress</h3>
  <ul class="list-group" id="currentList"></ul>
</div>
<div></div>

<div class="progress-box">
  <h3>Complete</h3>
  <ul class="list-group" id="archivedList"></ul>
</div>
</section>


<section id="newTaskForm">
<h3 class="todo-form-title">New To Do </h3>
<div  class="form-input-container">
  <img id="cancel" src="./views/img/cross.png" alt="close form icon">
  <input id="newItemInput" class="todo-title-input form-input" type="text" placeholder="To-Do Title">
  <button  id="saveNewItem" class="complete-todo-button">Add To Do</button>
</div>
</section>
</div>


<footer class="todo-footer">
<img id="add-todo" class="add-todo-button show-add-todo" src="./views/img/silverplus.png" alt="add new todo">
</footer>

</main>
